
header.header
	.header__top
		div
			img#logo(src="assets/images/content/logo.png", alt="logo")
			
		img#secret(src="assets/images/content/secret.png", alt="secret")

	.header__bottom
		img#delo(src="assets/images/content/delo.png", alt="delo")