body.page
	background #797979
	width 100%

section.background
	width 1000px
	margin 0 auto
	background url("../images/content/back2.png")
	overflow hidden
	box-sizing border-box
	padding-left 113px
	padding-right 113px

h1
	font-family "PT Sans"
	font-weight bold
	font-size 24px
	color #2f1b15

h2
	font-family "PT Sans"
	font-weight bold
	font-size 13px
	color #2f1b15

p
	color #3d3d3d
	font-family "PT Sans"



.flex-row
	display flex


.flex-column
	margin-right 120px
	font-family "PT Sans" sans-serif
	font-weight bold
	font-size 15px
	color #000000
	
div.form__field
	input
		width 500px
